<!DOCTYPE html>
<head>
    <body>
        <p>To activate your account please click on below link.</p>
        <br></br>
        <a href="https://5413469cf061.ngrok.io/verify-email/"+token>https://5413469cf061.ngrok.io/verify-email/{{token}}</a>
    </body>
    <script >
        // function sendResponse ()  {
        //     window.open("");
        // }
    </script>
</head>
</html>